/* color pallete
red #721817
yellow #FA9F42
blue #2B4162
green #0B6E4F
gray #E0E0E2 */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Global style */
body {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    display: inline;
    margin:0;
}

h1, h2, h3, p {
    margin:0;
}

h1, header h2 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
    padding-bottom: 1em;
}

h3{
    margin:0;
    font-weight: 400;
    font-size: 1.5em;
}

p{
    margin:0;
}

a{
    color: #FA9F42;
}

a:hover{
    text-decoration: none;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 6em 5em;
    overflow:hidden;
}

.col-narrow{
    width: 30%;
    float: left;
}

.col-wide{
    width: 70%;
    float: left;
    padding-left: 2.5em;
}

.uppercase{
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background: #721817;
    color: #FA9F42;
    padding: 1em;
    display: inline-block;
}

/* header and footer */
header, footer {
    background: #721817;
    color: #E0E0E2;
}

/* header */
header h1, header h2 {
    color: white; 
}

.profile-img{
    border-radius: 45%;
}

.download{
    position: absolute;
    bottom: 0;
    right: 0;
}

header{
    text-align: justify;
    padding-top: 3em;
    position: relative;

}
/* footer */
footer{
    text-align: center;
}

/* Navigation */
nav{
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
} 

nav a{
    display: inline-block;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

/* work experience*/
.work {
    background: #FA9F42;
}
h3 ~ p {
    margin: 0;
}

.job-description{
    margin-bottom: 1.5em; 
}

.job-description p:first-of-type{
    margin-top: 0;
}

/* volunteer */
.volunteer{
    background: #2B4162;
}

/* education */
.education{
    background: #0B6E4F;
}
p + h3 {
    margin-top: 1em;
}

.contact a{
    margin:10px;
    padding: 5px;
    display: inline-block;
}